.color1 {color: #ff6e43;}
.color2 {color: #ffac36;}
.color3 {color: #ffe862;}
.color4 {color: #fffba6;}
.color5 {color: #fffbe2;}
.color6 {color: #0f4337;}


*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    margin: 1rem;
}

/******************Navegador*****************/
.navegador{
    height: 30px;
    background-color: #ffac36;
    color: #0f4337;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    height: 50px;
    background-color: #fffba6;
}

nav h1{
    color: #0f4337;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

/******************Navegador*****************/

.border-right{
    border-right: black solid 1px;
}

/****************Carrito****************/

#pushbar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 80px;
    right: -300px;
    padding: 1rem; 
    background-color: white;
    border-left: solid 0.5rem #fffba6;
    transition: right 0.3s ease; 
}
  
#pushbar.open {
    right: 0; 
}
  
#open-pushbar {
    position: fixed;
    top: 20px;
    right: 20px; 
}

.icon{
    width: 25px;
}

.total{
    background-color: #ffe862;
}

.boton{
    width: 100%;
    background-color: #ffac36;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}
  
/****************Carrito****************/


/****************Formulario de registro****************/

  
/****************Formulario de registro****************/
  
  
/****************Sweetalert****************/
  body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
/****************Sweetalert****************/



/******************Footer*****************/

footer{
    background-color: #ffac36;
    color: #0f4337;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

footer ul{
    list-style: none;
}

#contactanos{
    font-family: 'Open Sans', sans-serif;
}

/******************Footer*****************/

/******************carrito contador*****************/
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .circle {
    display: none;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    text-align: center;
    background: red
  }

/******************carrito contador*****************/







